In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib

In [4]:
file_cc = "C:\Users\joann\OneDrive - University of Twente\Desktop\IRONHACK\CourseWork\Week4\Week4_project\Datasets\D2"
df_cc = pd.read_csv(file_cc)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (723995286.py, line 1)

In [3]:
file_price = "df_meat_price.csv"
df_p = pd.read_csv(file_price)

### Hypothesis 1: Global Temperature Trend

In [7]:
df_cc.head()

,Country,1969,1970,1971,1972,1973,1974,1975,1976,1977,...,2017,2018,2019,2020,2021,2022,Income Group,Area (KM²),Density (KM²),Europe
0,Albania,-0.013000,-0.106000,-0.195000,-0.069000,-0.288000,-0.139000,-0.211000,-0.683000,0.545000,...,1.121,2.028,1.675,1.498,1.536,1.518,Upper middle income,28748.0,103,Europe
1,Austria,-0.126000,-0.550000,-0.060000,0.103000,-0.033000,0.314000,0.860000,0.216000,0.499000,...,1.741,2.524,2.370,2.315,1.395,2.498,High income,83871.0,109,Europe
2,Belgium,0.159265,0.092181,-0.201079,-0.084309,0.229161,-0.162937,-0.024091,-0.245553,0.165255,...,1.731,2.196,2.081,2.572,1.203,2.807,High income,30528.0,386,Europe
3,Bosnia and Herzegovina,0.159265,0.092181,-0.201079,-0.084309,0.229161,-0.162937,-0.024091,-0.245553,0.165255,...,1.419,2.275,1.987,1.880,1.598,2.091,Upper middle income,51209.0,63,Europe
4,Bulgaria,-0.485000,0.205000,-0.139000,0.136000,-0.426000,-0.198000,0.390000,-0.838000,0.563000,...,0.954,2.192,2.112,2.037,1.629,1.831,Upper middle income,110879.0,62,Europe

In [ ]:
df_cc_h1 = df_cc.groupby("Country").agg

In [ ]:
# Null Hypothesis (H0): There is no significant change in global surface temperatures over the years.

sns.lineplot(df_cc, x = )

In [1]:
import matplotlib.pyplot as plt

# Filter data for France and Germany
df_fr = df_cc[df_cc['Country'] == 'France']
df_de = df_cc[df_cc['Country'] == 'Germany']

# Set up the figure and axis
plt.figure(figsize=(10, 6))

# Plot temperature trend for France
plt.plot(df_fr.columns[9:], df_fr.iloc[:, 9:].values.flatten(), label='France')

# Plot temperature trend for Germany
plt.plot(df_de.columns[9:], df_de.iloc[:, 9:].values.flatten(), label='Germany')

# Customize the plot
plt.title('Global Temperature Trend (2013-2022) for France and Germany')
plt.xlabel('Year')
plt.ylabel('Surface Temperature Change (°C)')
plt.legend()

# Show plot
plt.grid(True)
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

NameError: name 'df_cc' is not defined